{% extends 'base.html' %}

{% block head %}
<title>MTG Planechase</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>All Planechase Cards</h1>
    {% if cards|length < 1 %}
        <h4>There are no Cards.</h4>
    {% else %}
        <h4>{{ cards|length }} Karten</h4>
        <form action="/shuffle">
            <button >Karten mischen</button>
        </form>
    {% for card in cards %}
    <div class="card">
        <div class="text">
            <h2>{{ card.name }}</h2>
            <h3>{{ card.type_line }}</h3>
            <p class="">{{ card.oracle_text }}</p>
            <p class="">{{ card.chaos_text }}</p>
        </div>
        <div class="">
            <img class="rotate" src="{{ card.image }}">
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}