{% extends 'base.html' %}

{% block head %}
<title>MTG Planechase</title>
{% endblock %}

{% block body %}
<div class="game content">
    {% if card %}

    <div class="card">
        <div class="text">
            <h2>{{ card.name }}</h2>
            <h4>{{ card.type_line }}</h4>
            <p class="">{{ card.oracle_text }}</p>
            <p class="">{{ card.chaos_text }}</p>
        </div>
        <div class="card_img">
            <img src="{{ card.image['border_crop'] }}">
        </div>
        <div class="card_nav">
            <form action="/prevcard">
                <button class="btn btn_prev"><<</button>
            </form>
            <form action="/nextcard">
                <button class="btn btn_next">>></button>
            </form>
        </div>
    </div>

    {% else %}
        <h4>There are no Cards.</h4>
    {% endif %}
     <form action="/">
        <button>End Game</button>
    </form>
    <p class="dice_result">
        {% if not result %}
            0
        {% else %}
            {{ result }}
        {% endif %}
    </p>
    <form action="/dice" method="POST">
        <button class="btn">ROLL THE DICE</button>
    </form>
</div>
{% endblock %}